# Python Data Structures and Boolean

In [1]:
**Important links**

https://www.youtube.com/watch?v=kqtD5dpn9C8
    
https://www.youtube.com/watch?v=_uQrJ0TkZlc

SyntaxError: invalid syntax (3770363715.py, line 1)

In [ ]:
Boolean

Boolean and Logical Operators

Lists

Comparison operators

Dictionaries

Tuples

Sets

In [4]:
#Exponentiation
print(10**3)

#modulus
print(20%10)
print(10%20)
print(5%2)

#Floor division
print(10//20)
print(5//2)
print(15//7)

1000
0
10
1
0
2
2

## Various ways of printing

In [5]:
print("Hello")

Hello

In [6]:
first_name='deep'
last_name='high'
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is deep and last name is high

In [7]:
print("My First name is {first} and last name is {last}".format(last=last_name,first=first_name))

My First name is deep and last name is high

In [8]:
type(['1',2,3,4,5])

list

In [10]:
my_str='Deep123'
my_str.istitle()

True

In [11]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('d')) #test if string endswith a d
print(my_str.startswith('D')) #test if string startswith H

True
False
False
True
False
False
False
False
True

In [12]:
type([])

list

In [13]:
type(list())

list

In [14]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]
print(len(lst))
print(type(lst))

6
<class 'list'>

In [15]:
#.append is used to add elements in the list
lst.append("Krish")
lst.append(["John","Bala"])
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [16]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

In [17]:
## insert in a specific order

lst.insert(2,"shok")
lst

['Mathematics',
 'chemistry',
 'shok',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala']]

In [18]:
lst=[1,2,3,4,5,6]
lst.append([8,9])
lst

[1, 2, 3, 4, 5, 6, [8, 9]]

In [19]:
lst=[1,2,3,4,5,6]
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [20]:
#The pop() method removes the element at the specified position.
lst.pop()
lst

[1, 2, 3, 4, 5, 6, 8]

In [21]:
lst.pop(0)
lst

[2, 3, 4, 5, 6, 8]

In [33]:
#count():Calculates total occurrence of given element of List
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [35]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
#ist_name.index(element, start, end)

#element – The element whose lowest index will be returned.
#start (Optional) – The position from where the search begins.
#end (Optional) – The position from where the search ends.

#Returns the lowest index where the element appears.

#If any element which is not present is searched, it returns a ValueError

lst.index(1,1,4)

1

# SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [22]:
## Defining an empy set
set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [24]:
set_var={1,2,3,4,3}
set_var
print(type(set_var))

<class 'set'>

In [26]:
set_var={"Avengers","IronMan",'Hitman'}

## Inbuilt function in sets
set_var.add("Hulk")
print(set_var)

{'Hulk', 'Hitman', 'IronMan', 'Avengers'}

In [27]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

#print(set2.intersection_update(set1))
#print(set2.difference(set1))
#set2.intersection_update(set1)

In [28]:
set2.intersection_update(set1)

In [29]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [30]:
set2.difference(set1)

set()

In [31]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set2.difference(set1)

{'Hulk2'}

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [32]:
dic={}
print(type(dic))
print(type(dict()))

<class 'dict'>
<class 'dict'>

In [33]:
set_ex={1,2,3,4,5}
type(set_ex)

set

In [34]:
## Let create a dictionary
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

##Access the item values based on keys
my_dict['Car1']

'Audi'

In [35]:
# We can even loop throught the dictionaries keys
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [36]:
# We can even loop throught the dictionaries values
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [37]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [38]:
## Adding items in Dictionaries
my_dict['car4']='Audi 2.0'
print(my_dict)
my_dict['Car1']='MAruti'
print(my_dict)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}
{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

## Nested Dictionary

In [39]:
car1_model={'Mercedes':1960,'BMW':1870}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

## Accessing the items in the dictionary
print(car_type['car1'])
print(car_type['car1']['Mercedes'])

{'car1': {'Mercedes': 1960, 'BMW': 1870}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}
{'Mercedes': 1960, 'BMW': 1870}
1960

## Tuples

In [41]:
## create an empty Tuples
my_tuple=tuple()
print(type(my_tuple))

my_tuple=()
print(type(my_tuple))

my_tuple=('Hello','World')
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
('Hello', 'World')

In [42]:
## Inbuilt function
my_tuple.count('Hello')

1