Ex2 - Filtering and Sorting Data
This time we are going to pull data directly from the internet.

## Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

## Step 2. Import the dataset from this address.
## Step 3. Assign it to a variable called euro12.

In [3]:
euro12 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv")

## Step 4. Select only the Goal column.

In [6]:
euro12["Goals"]

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

## Step 5. How many team participated in the Euro2012?

In [10]:
euro12.Team.nunique()

16

## Step 6. What is the number of columns in the dataset?

In [13]:
euro12.shape[1]

35

## Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [15]:
discipline = euro12[["Team","Yellow Cards","Red Cards"]]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

## Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [21]:
discipline.sort_values(["Red Cards", "Yellow Cards"])

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
12               Russia             6          0
1        Czech Republic             7          0
14               Sweden             7          0
0               Croatia             9          0
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0
11  Republic of Ireland             6          1
9                Poland             7          1
6                Greece             9          1

## Step 9. Calculate the mean Yellow Cards given per Team

In [25]:
discipline_yellow  = discipline[["Team","Yellow Cards"]]
discipline_yellow.groupby("Team").mean()

                     Yellow Cards
Team
Croatia                       9.0
Czech Republic                7.0
Denmark                       4.0
England                       5.0
France                        6.0
Germany                       4.0
Greece                        9.0
Italy                        16.0
Netherlands                   5.0
Poland                        7.0
Portugal                     12.0
Republic of Ireland           6.0
Russia                        6.0
Spain                        11.0
Sweden                        7.0
Ukraine                       5.0

## Step 10. Filter teams that scored more than 6 goals

In [29]:
euro12[euro12.Goals> 6].Team

5     Germany
13      Spain
Name: Team, dtype: object

## Step 11. Select the teams that start with G

## Step 12. Select the first 7 columns

## Step 13. Select all columns except the last 3.

## Step 14. Present only the Shooting Accuracy from England, Italy and Russia