## Ex2 - Getting and Knowing your Data 
## Chipotle

This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

## Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

## Step 2. Import the dataset from this address.

In [2]:
mydata = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

## Step 3. Assign it to a variable called chipo.

In [3]:
chipo = mydata

## Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
chipo.shape[0]

4622

In [6]:
# Solution 2

## Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

## Step 7. Print the name of all the columns.

In [8]:
chipo.columns

# iterating the columns
#for col in chipo.columns:
 #   print(col)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

##  Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

## Step 9. Which was the most-ordered item?

In [10]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

## Step 10. For the most-ordered item, how many items were ordered?

In [11]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c['quantity'][0]

761

## Step 11. What was the most ordered item in the choice_description column?

In [12]:
c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

 ## Step 12. How many items were orderd in total?

In [13]:
chipo['quantity'].sum()

4972

## Step 13. Turn the item price into a float

In [14]:
#print(chipo.dtypes)

#chipo = chipo['item_price'].astype(float)
#OR
#chipo = chipo.astype({'item_price':'float'})
## ValueError: could not convert string to float: '$2.39 '

#chipo["id"] = chipo['item_price'].str.replace(' ', '').astype(float)
# we also have to remove $ from the front and not just the space in the end

## Step 13.a. Check the item price type

In [15]:
chipo['item_price'].dtype

dtype('O')

## Step 13.b. Create a lambda function and change the type of item price

In [16]:
#x = chipo['item_price'][1]
#print(x)
#print(x[1:-1])# removing $ from the front and space from the back thus 1:-1


dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

## Step 13.c. Check the item price type

In [17]:
chipo['item_price'].dtype

dtype('float64')

## Step 14. How much was the revenue for the period in the dataset?

In [19]:
chipo['tot_rev'] = chipo['quantity']*chipo['item_price']
chipo.tot_rev.sum()

39237.02

## Step 15. How many orders were made in the period?

In [20]:
#len(chipo.order_id.unique())
#OR
chipo.order_id.value_counts().count()

1834

## Step 16. What is the average revenue amount per order?

In [21]:
# Solution 1
chipo.tot_rev.sum()/len(chipo.order_id.unique())

21.39423118865867

In [24]:
# Solution 2
## chipo.groupby(by=['order_id']).sum().mean()['revenue']--> this is not working for me

##  Step 17. How many different items are sold?

In [29]:
#len(chipo.item_name.unique())
#OR
chipo.item_name.value_counts().count()

50