# Grouping  + Aggregating

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = sns.load_dataset('titanic')

In [5]:
# Types of aggregating

# 1 list 
df['fare'].agg(['sum','count'])

sum      28693.9493
count      891.0000
Name: fare, dtype: float64

In [11]:
# 2 Dictionary 
df.agg({'fare': ['sum','mean'],
         'sex': 'count'})

               fare    sex
sum    28693.949300    NaN
mean      32.204208    NaN
count           NaN  891.0

In [ ]:
# 3 Tuple
----

In [ ]:
# basic math funct

agg_func_math = {'fare': ['sum','median','mean','prod','min','max','std','var','mad']}
df.groupby('town').agg(agg_func_math).round(2)

In [ ]:
#use of describe()

agg_func_describe = {'fare': 'describe'}
df.groupby('town').agg(agg_func_describe).round2

In [ ]:
# counting
agg_func_count = {'embark_town': ['count', 'nunique', 'size']}
df.groupby(['deck']).agg(agg_func_count)

count will not include NaN values whereas size will. In addition, the nunique function will exclude NaN values in the unique counts.

In [ ]:
#first and last 
agg_func_selection = {'fare': ['first','last']}
df.sort_values(=['fare'],ascending = False).groupby(['town']).agg(agg_func_selection)
#would have recommended using min max here

Another selection approach is to use idxmax and idxmin to select the index value that corresponds to the maximum or minimum value.

In [ ]:
agg_func_max_min = {'fare': ['idxmax', 'idxmin']}
df.groupby(['embark_town']).agg(agg_func_max_min)
#df.loc[[258, 378]]

In [ ]:
# another trick
df.loc[df.groupby(['class']).['fare'].idmax()]

In [ ]:
#Other libraries
from scipy.stats import mode, skew
agg_func_stats = {'fare': [skew, mode, pd.Series.mode]}
df.groupby(['embark_town']).agg(agg_func_stats)

The scipy.stats mode function returns the most frequent value as well as the count of occurrences. If you just want the most frequent value, use pd.Series.mode.

In [ ]:
# Working with text
agg_func_text = {'deck': [ 'nunique', mode, set]}
df.groupby(['class']).agg(agg_func_text)

if you a have small number of distinct values, you can use pythonâ€™s set function to display the full list of unique values

In [ ]:
# partial functions

from functools import partial
# Use partial
q_25 = partial(pd.Series.quantile, q=0.25)
q_25.__name__ = '25%'

In [ ]:
# Define a function
def percentile_25(x):
    return x.quantile(.25)
#We can define a lambda function and give it a name:
lambda_25 = lambda x: x.quantile(.25)

lambda_25.__name__ = 'lambda_25%'

In [ ]:
#Or, define the lambda inline:

# Use a lambda function inline
agg_func = {
    'fare': [q_25, percentile_25, lambda_25, lambda x: x.quantile(.25)]
}

df.groupby(['embark_town']).agg(agg_func).round(2)

custom fucntion examples

In [ ]:
def count_nulls(s):
    return s.size - s.count()
    
def unique_nan(s):
    return s.nunique(dropna=False)

agg_func_custom_count = {
    'embark_town': ['count', 'nunique', 'size', unique_nan, count_nulls, set]
}
df.groupby(['deck']).agg(agg_func_custom_count)

In [ ]:
def percentile_90(x):
    return x.quantile(.9)
def trim_mean_10(x):
    return trim_mean(x, 0.1)
def largest(x):
    return x.nlargest(1)
def sparkline_str(x):
    bins=np.histogram(x)[0]
    sl = ''.join(sparklines(bins))
    return sl

agg_func_largest = {
    'fare': [percentile_90, trim_mean_10, largest, sparkline_str]
}
df.groupby(['class', 'embark_town']).agg(agg_func_largest)

The nlargest and nsmallest functions can be useful for summarizing the data in various scenarios. Here is code to show the total fares for the top 10 and bottom 10 individuals:

In [ ]:
def top_10_sum(x):
    return x.nlargest(10).sum()

def bottom_10_sum(x):
    return x.nsmallest(10).sum()


agg_func_top_bottom_sum = {'fare': [top_10_sum, bottom_10_sum]}
df.groupby('class').agg(agg_func_top_bottom_sum)

working with group objects

Once you group and aggregate the data, you can do additional calculations on the grouped objects.

For the first example, we can figure out what percentage of the total fares sold can be attributed to each embark_town and class combination.

In [ ]:
# working with group objects
df.groupby(['embark_town', 'class']).agg({
    'fare': 'sum'
}).assign(pct_total=lambda x: x / x.sum())

Flattening Hierarchical Column Indices
By default, pandas creates a hierarchical column index on the summary DataFrame. 
#https://pbpython.com/groupby-agg.html

In [ ]:
multi_df = df.groupby(['embark_town', 'class'],
                    as_index=False).agg({'fare': ['sum', 'mean']})

multi_df.columns = [
'_'.join(col).rstrip('_') for col in multi_df.columns.values
]