#### This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

## Step 1. Import the necessary libraries

In [41]:
import pandas as pd
import numpy as np

## Step 2. Import the dataset from this address.

## Step 3. Assign it to a variable called chipo.

In [45]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

In [47]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

## Step 4. How many products cost more than $10.00?

In [60]:
## WRONG 

chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")
#chipo.item_price[chipo.item_price>"$10"] 
#chipo.item_price.dtype
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)
chipo[chipo.item_price>10].item_name.nunique() #31
# OR  
#chipo.item_price[chipo.item_price>10].nunique() #35

# aove values doesnt match plus we didn't care about quantity and duplicates!

31

In [61]:
chipo[chipo.item_price>10].item_name.unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chicken Crispy Tacos', 'Chicken Salad', 'Steak Salad Bowl',
       'Bowl', 'Veggie Soft Tacos', 'Barbacoa Soft Tacos',
       'Carnitas Crispy Tacos', 'Carnitas Salad Bowl',
       'Barbacoa Salad Bowl', 'Chips and Fresh Tomato Salsa',
       'Steak Soft Tacos', 'Carnitas Soft Tacos', 'Steak Crispy Tacos',
       'Chips and Guacamole', '6 Pack Soft Drink', 'Bottled Water',
       'Side of Chips'], dtype=object)

In [50]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

# clean the item_price column and transform it in a float
chipo.item_price = [float(value[1 : -1]) for value in chipo.item_price]

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])


print(chipo.shape) #(4622, 5)
print(chipo_filtered.shape) #(1871, 5)

(4622, 5)
(1871, 5)

In [80]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

# clean the item_price column and transform it in a float
chipo.item_price = [float(value[1 : -1]) for value in chipo.item_price]

# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])
## # why we filtering based on item_name, quant and description?

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

#chipo_one_prod[chipo_one_prod['item_price']>10]
chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique() #25

25

## Step 5. What is the price of each item?
#### print a data frame with only two columns item_name and item_price

In [78]:
#chipo_sub = chipo 
#chipo_one_prod.unique("item_name") #25


# select only the item_name and item_price columns
chipo_sub = chipo_one_prod[['item_name', 'item_price']]
price_item = chipo_sub.drop_duplicates(['item_name', 'item_price'])
price_item
# sort the values from the most to less expensive
#price_per_item.sort_values(by = "item_price", ascending = False).head(20)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
...                                     ...         ...
3502                            Steak Salad        8.69
3750                         Carnitas Salad        8.99
3989                          Chicken Salad        8.19
4235                           Chicken Bowl        8.50
4510                          Barbacoa Bowl       11.49

[128 rows x 2 columns]

## Step 6. Sort by the name of the item

In [79]:
price_item.sort_values(by="item_name")

              item_name  item_price
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
95        Barbacoa Bowl        9.25
115       Barbacoa Bowl        8.99
3195      Barbacoa Bowl        8.69
...                 ...         ...
186   Veggie Salad Bowl       11.25
960   Veggie Salad Bowl        8.75
1395  Veggie Soft Tacos        8.49
781   Veggie Soft Tacos        8.75
738   Veggie Soft Tacos       11.25

[128 rows x 2 columns]

## Step 7. What was the quantity of the most expensive item ordered?

In [83]:
chipo.sort_values("item_price", ascending= False).head(1).quantity

3598    15
Name: quantity, dtype: int64

## Step 8. How many times was a Veggie Salad Bowl ordered?

In [90]:
len(chipo[chipo.item_name == "Veggie Salad Bowl"])
#or 
#chipo[chipo.item_name == "Veggie Salad Bowl"].order_id.nunique() 
#--> rans is correct but remember order_ids could be doubleds

18

## Step 9. How many times did someone order more than one Canned Soda?

In [100]:
chipo_cannedSoda_quantMoreThan1 = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity>1)]
chipo_cannedSoda_quantMoreThan1.shape #(20, 5)
len(chipo_cannedSoda_quantMoreThan1)

#chipo_cannedSoda_quantMoreThan1.order_id.nunique()  --> same ordered id twice --> wrong

20